version: '3.6'

services:
    database:
        restart: always
        build: docker/images/mysql
        environment:
          - MYSQL_DATABASE=vulptool
          - MYSQL_ROOT_PASSWORD=devpassword
        volumes:
          - vulptool-data:/var/lib/mysql
        ports:
          - 3306:3306

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        environment:
          - PMA_HOST=database
          - MYSQL_ROOT_PASSWORD=devpassword
        ports:
          - 6060:80

volumes:
  vulptool-data:
