.App {
    text-align: center;
}

.logo {
    width: 120px;
    height: 28px;
    background: rgba(255, 255, 255, .2) url('../img/logo.svg');
    margin: 16px 24px 16px 0;
    float: left;
}

.gutter-example .ant-row > div {
    background: transparent;
    border: 0;
}

.gutter-box {
    background: #00A0E9;
    padding: 5px 0;
}

.add-button {
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
}
